.note>.heading {
    font-size: 1rem;
    color: aliceblue;
    font-weight: bold;


}

.note>.time {
    font-size: 0.75rem;
    color: antiquewhite;
}

.note {
    border-bottom: 1px solid #444444;
    padding-top: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}