.note-view {
    background-color: #222222;
    flex-grow: 1;
    padding:1rem;

    .container {
        display: flex;
        flex-direction: column;
        margin: auto;
        height: 100%;
        max-width: 50rem;
    }

    .content {
        flex-grow: 1;
        color: #d0d0d0;
        padding: 1rem 0;
    }

    .title,
    .content {
        background: none;
        border: none;
    }

    .title {
        font-size: 2rem;
        font-weight: bold;
        color: white;
        border-bottom: 1px solid #444444;
        padding: 1rem 0;
    }

}
